/* termsconditions.css */

/* Scoped styles for the Terms & Conditions page */
.terms-conditions-page h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-top: 70px;
  margin-left: 20px;
}

.terms-conditions-page h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-weight: bold;
  margin-left: 20px;

}

.terms-conditions-page p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  margin-left: 20px;

}

.terms-conditions-page ul {
  padding-left: 30px;
}

.terms-conditions-page ul li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
}



.terms-conditions-page strong {
  font-weight: bold;
  color: #000;
}
